* 	{
		box-sizing: border-box;
	}
	page {
		background: #f3f4f6;
	}

	.top {
		height: 30%;
		background-color: #3ac4ff;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}

	.wrap {
		position: relative;
		height: 100vh;
	}

	.content {
		top: 8%;
		position: absolute;
		width: 90%;
		left: 5%;
		right: 5%;
		padding: 30rpx;
		background-color: white;
		border-radius: 40rpx;
		box-shadow: 5px 9px 6px #e3e3e3;
		.title {
		  text-align: center;
		  font-size: 55rpx;
		  font-weight: 400;
		  margin-bottom: 60rpx;
		}
		.list-content {
			///下面的整体边框
			margin: 40rpx;
			background: #ffffff;
		}
		
		.list {
			//我的信息
			border-radius: 35rpx;
			border-bottom: 15upx solid #f3f4f6;
			background: #ffffff;
		
			&:last-child {
				border: none;
			}
		
			.li {
				//图标旁边文字（我的信息...）的边框
				height: 105upx;
				padding: 0 4%;
				border-bottom: 1px solid rgb(243, 243, 243);
				display: flex;
				align-items: center;
				.head{
					font-size: 34rpx;
					font-weight: 700;
					margin-right: 100rpx;
					padding-left: 20upx;
					width: 100%;
					color: #606266;
				}
		
				.text {
					//文字
					font-size: 30rpx;
					font-weight: 500;
					padding-left: 60upx;
					width: 100%;
					color: #606266;
				}
	
			}
		}
	}
